{% extends "index.html" %}
{% block title %}Search Page{% endblock %}

{% block content %}
<form action="#" method="post">
    <p>Name:</p>
    <p><input type="text" name="nm" /></p>
    <p><input type="submit" value="submit" /></p>
</form>
{% endblock %}




 <div class="input-group">
        <input type="text" class="form-control" placeholder="Entities Here" aria-label="Example text" aria-describedby="button-addon1">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Enter</button>
        </div>
    </div>